.App {
  text-align: center;
  margin:2rem;
}
.searchInput{
  height: 12px;
  padding: 10px;
  border: solid 1px lightgrey;
  width: 44%;
  display: flex;
  margin: 1rem;
}
.button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.page-controls{
  display:flex;
  justify-content: space-between;
}